entrypoint = "index.ts"
run = "bun run start"
hidden = [".config", "bun.lockb"]
modules = ["bun-1.0"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "bun run start"]
deploymentTarget = "cloudrun"
